.largeTitleText {
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 110%;
}

.title1Text {
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  line-height: 120%;
}

.title2Text {
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 120%;
}

.title3Text {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 130%;
}

.title4Text {
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.headlineText {
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.bodyText {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.footnoteText {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.caption1Text {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
}
