.formContainer {
  display: flex;

  & > div {
    width: 100%;
  }

  & button {
    display: none;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: auto 120px;
    align-items: center;

    margin-bottom: 24px;

    & > div:first-child {
      width: auto;

      margin-bottom: 0;
      margin-right: 16px;
    }

    & button {
      display: block;
    }
  }
}

.suggestionsContainer {
  display: none;
}

.contentContainer {
  padding: 16px;
  border: 1px solid #e4e8ea;
  border-radius: 12px;
}

.noSearchText {
  text-align: center;
}

.resultItem {
  & > h1,
  h2 {
    margin-bottom: 8px;
  }

  & a {
    color: #ff7944;
    margin-left: 4px;
  }

  &:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: 1px solid #182026;
    margin-bottom: 16px;
  }

  & em {
    font-weight: bold;
    font-style: italic;
    color: #0cba7b;
  }
}
